{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <header class="d-flex justify-content-center align-items-center m-5">
        <h1 class="border border-1 border-end-0 border-start-0 border-top-0 fw-bold">Documents des pourfendeurs</h1>
    </header>

    <section class="d-flex flex-column justify-content-center align-items-center border border-1 p-5">
        <h3 class="mb-5 fw-semibold">Quel est l'objectif de cette plateforme ?</h3>
        <p class="fw-light">Ces documents ont pour objectif de gérer correctement les différents documents et les différents pourfendeurs.</p>
    </section>

    <section class="d-flex flex-column justify-content-center align-items-center border border-1 p-5">
        <h3 class="mb-5 fw-semibold">A quels documents peut-on accéder ?</h3>
        <p class="fw-light">Au document du souffle auquel on appartient, de même pour les corps et les divisions,</p>
        <p class="fw-light">on peut aussi gérer facilement les effectifs de ceux-ci.</p>
    </section>

    <section class="d-flex flex-column justify-content-center align-items-center border border-1 p-5">
        <h3 class="mb-5 fw-semibold">Comment accéder à tout ça ?</h3>
        <p class="fw-light">Il suffit de rentrer votre identité et le code secret créé par vous-même dans le manuscrit vous le demandant.</p>
    </section>

    <footer class="d-flex flex-column justify-content-center align-items-center border border-1 p-5">
        <h3 class="fw-light">Rédigé par Takumo AHJIN</h3>
    </footer>
{% endblock %}
