{% extends 'base.html.twig' %}

{% block title %}Connectez-vous{% endblock %}

{% block body %}
    <div>
        <form method="post" action="{{ path('app_connected') }}">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <div class="mb-3">
                <label for="identite-pourf" class="form-label">Identité</label>
                <input type="text" class="form-control" id="identite-pourf" name="identite-pourf">
            </div>
            <div class="mb-3">
                <label for="pswd-pourf" class="form-label">Code secret</label>
                <input type="password" class="form-control" id="pswd-pourf" name="pswd-pourf">
            </div>
            <button type="submit" class="btn btn-primary">Dévérouiller le parchemin</button>
        </form>
    </div>
{% endblock %}
