<nav class="navbar navbar-expand-lg bg-dark text-white py-2">
    <div class="container-fluid">
        <div class="navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-white" href="/cendre-mortuaire/informations-generales">Informations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/cendre-mortuaire/generation-cendres">Génération de cendres</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/cendre-mortuaire/manipulation&controle">Manipulation & Contrôle</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/cendre-mortuaire/capacites">Capacités</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/cendre-mortuaire/aspect-psychologique">Aspect psychologique</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/cendre-mortuaire/code">Code</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/cendre-mortuaire/connaissances">Connaissances</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/cendre-mortuaire/rituel-engendrement">Rituel d'Engendrement</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/cendre-mortuaire/principes-cloitre">Principes du Cloître</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/cendre-mortuaire/rite-retour-origines">Rite du Retour aux Origines</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/cendre-mortuaire/nuit-cendrée">La Nuit Cendrée</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/cendre-mortuaire/effectif">Effectifs</a>
                </li>
            </ul>
        </div>
    </div>
</nav>