{% extends 'base.html.twig' %}

{% block title %}Inscrivez-vous{% endblock %}

{% block body %}
    <div>
        <form method="post" action="{{ path('app_inscrit') }}">
            <div {{ react_component('InscriptionForm',{'factions' : factions})}}></div>
            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >
            <button type="submit" class="btn btn-primary">Dévérouiller le parchemin</button>
        </form>
    </div>
{% endblock %}
