{% extends 'base.html.twig' %}

{% block title %}Informations générales{% endblock %}

{% block body %}
    <h1>Aspect Psychologique</h1>
    <p>Les cendres sombres et brûlantes désorientent les ennemis, les plongeant dans une terreur et une panique indescriptibles.</p>
{% endblock %}
