{% extends '/cendre/base_cendre.html.twig' %}

{% block title %}Informations générales{% endblock %}

{% block body_cendre %}
    <div class="container">
        <h1 class="mt-4">Aspect Psychologique</h1>

        <div class="mt-3">
            <p>
                Le pouvoir de la Cendre Mortuaire est aussi un <strong>outil psychologique</strong>. Le nuage de cendre sombre
                et brûlant autour de La Cendre Mortuaire crée un effet terrifiant qui désoriente et panique ses ennemis. La cendre,
                avec sa <strong>chaleur suffocante</strong> et son <strong>odeur de brûlé</strong>, agit comme un voile infernal,
                un signe de <strong>mort imminente</strong> pour ceux qui le croisent.
            </p>
        </div>

        <div class="mt-3">
            <h2>Impact sur les Pourfendeurs de Démons</h2>
            <p>
                Les pourfendeurs de démons, habitués à des adversaires brutaux, trouvent en La Cendre Mortuaire un ennemi qui
                <strong>joue sur leurs nerfs</strong>. La cendre qui s’infiltre dans leurs poumons, brûle leur peau, et obscurcit
                leur vue provoque un <strong>sentiment de vulnérabilité</strong> et de terreur.
            </p>
        </div>

        <div class="mt-3">
            <h2>Une Tactique de Terreur</h2>
            <p>
                Cette <strong>tactique de terreur</strong> est l’une des armes les plus puissantes de La Cendre Mortuaire.
                Il ne cherche pas seulement à vaincre physiquement ses ennemis, mais aussi à <strong>briser leur volonté</strong>,
                leur laissant l’impression d’affronter un spectre insaisissable, un démon implacable.
            </p>
        </div>
    </div>
{% endblock %}
