{% extends '/cendre/base_cendre.html.twig' %}

{% block title %}Informations générales{% endblock %}

{% block body_cendre %}
    <div class="container">
        <h1 class="mt-4">Capacités</h1>

        <!-- Première Capacité -->
        <div class="mt-3">
            <h2>Première Capacité : Éruption Fumante</h2>
            <p>
                L'Éruption Fumante est une technique de base des adeptes de la Cendre Mortuaire, incarnant leur
                <strong>connexion profonde à la puissance brute</strong> et à l’agilité qu’offre leur pouvoir. En utilisant la cendre
                incandescente comme une propulsion explosive, l’utilisateur peut effectuer des mouvements aériens spectaculaires
                et échapper à des situations critiques avec une vitesse fulgurante. La technique est un mélange de grâce et de
                violence, reflétant parfaitement la nature des adeptes.
            </p>
            <blockquote class="blockquote">
                <p>"La cendre me porte... et toi, elle te brûlera."</p>
            </blockquote>
        </div>

        <!-- Deuxième Capacité -->
        <div class="mt-3">
            <h2>Deuxième Capacité : Aura Cinéraire</h2>
            <p>
                L'Aura Cinéraire est une technique défensive propre aux adeptes de la Cendre Mortuaire. En libérant une quantité
                concentrée de cendre incandescente, l’utilisateur crée un champ de destruction immédiate autour de lui. Ce torrent
                brûlant s’étend sur un rayon limité, attaquant la chair des ennemis proches et les forçant à maintenir leurs distances.
                Elle est utilisée pour briser un encerclement ou semer le chaos au cœur d’une mêlée.
            </p>
            <blockquote class="blockquote">
                <p>"Vous osez vous approcher de la cendre ? Approchez donc... et laissez votre chair devenir poussière."</p>
            </blockquote>
        </div>

        <!-- Troisième Capacité -->
        <div class="mt-3">
            <h2>Troisième Capacité : Souvenir Calciné</h2>
            <p>
                Le Souvenir Calciné est une technique d’évasion sophistiquée, à la fois mystique et terrifiante. En désintégrant
                temporairement son corps en une <strong>nuée de cendre</strong>, le démon devient intangible et insaisissable, disparaissant
                dans un nuage dense et suffocant. Ce nuage obstrue la vision des ennemis, les plongeant dans la confusion, tout
                en permettant à l’utilisateur de se repositionner ou de se préparer à une contre-attaque.
            </p>
            <blockquote class="blockquote">
                <p>"Cherchez-moi dans la cendre, et trouvez votre fin dans le supplice."</p>
            </blockquote>
        </div>

        <!-- Quatrième Capacité -->
        <div class="mt-3">
            <h2>Quatrième Capacité : Nuée Ardente</h2>
            <p>
                La Nuée Ardente est une technique offensive destructrice qui incarne la puissance brute de la Cendre Mortuaire.
                L’utilisateur expulse violemment un amas de cendres incandescentes depuis son corps, propulsé à une vitesse
                fulgurante, qui repousse et brûle tout sur son passage. Idéale pour briser les défenses adverses ou infliger
                des dégâts massifs dans un rayon frontal.
            </p>
            <blockquote class="blockquote">
                <p>"Subissez le souffle de la montagne… et brûlez dans la cendre de vos échecs."</p>
            </blockquote>
        </div>

        <!-- Cinquième Capacité -->
        <div class="mt-3">
            <h2>Cinquième Capacité : Foyer Funèbre</h2>
            <p>
                Le Foyer Funèbre est une technique terrifiante et apocalyptique, réservée aux démonstrations de pouvoir les
                plus absolues. En invoquant un immense <strong>tourbillon de cendre incandescente</strong>, le démon crée une zone de
                destruction où la chaleur écrasante, l’asphyxie, et les brûlures implacables s’unissent pour réduire ses ennemis
                en cendres. Cette capacité est autant une attaque qu’un spectacle sinistre, marquant à jamais ceux qui en sont témoins.
            </p>
            <blockquote class="blockquote">
                <p>"Voyez la danse des cendres… et laissez vos espoirs se consumer dans ce foyer éternel."</p>
            </blockquote>
        </div>

        <!-- Sixième Capacité -->
        <div class="mt-3">
            <h2>Sixième Capacité : Ruine Anthracite</h2>
            <p>
                Ruine Anthracite est l’ultime expression du pouvoir de la Cendre Mortuaire. L’utilisateur se dématérialise en
                un nuage de fines particules incandescentes, s’infiltrant dans le corps de sa cible. Ces particules tourbillonnent
                autour de la victime, créant une tension insoutenable, avant que l’utilisateur ne réapparaisse pour porter un coup
                final destructeur. Cette capacité combine subtilité et violence, et marque l'apogée de la maîtrise du pouvoir.
            </p>
            <blockquote class="blockquote">
                <p>"Tu ne peux échapper à l'inéluctable. Mes cendres sont ton dernier souffle, et ma lame, ton dernier soupir."</p>
            </blockquote>
        </div>
    </div>
{% endblock %}
