{% extends 'base.html.twig' %}

{% block title %}Informations générales{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mt-4">Code de la Cendre Mortuaire</h1>
        <p class="lead">
            Le code de la Cendre Mortuaire représente les principes fondamentaux et les valeurs qui guident les adeptes.
        </p>
        <ul class="list-group mt-4">
            <li class="list-group-item">Seules nos cibles retournent à la terre.</li>
            <li class="list-group-item">Prendre par vocation, Tuer par obligation.</li>
            <li class="list-group-item">Les Cendres ne se tuent pas entre eux.</li>
            <li class="list-group-item">Les Cendres est le dernier des souvenirs.</li>
            <li class="list-group-item">Une seule parole, un seul destin.</li>
            <li class="list-group-item">Un dernier soupir pour des millénaires au Maître.</li>
            <li class="list-group-item">Ainsi j'apporte fin et désolation.</li>
            <li class="list-group-item">Porteur de l'éternel repos et du silence.</li>
        </ul>
    </div>
{% endblock %}
