{% extends 'base.html.twig' %}

{% block title %}Informations générales{% endblock %}

{% block body %}
    <h1>Code de la Cendre Mortuaire</h1>
    <ul>
        <li>Seules nos cibles retournent à la terre.</li>
        <li>Prendre par vocation, tuer par obligation.</li>
        <li>Les Cendres ne se tuent pas entre eux.</li>
        <li>Les Cendres sont le dernier des souvenirs.</li>
    </ul>
{% endblock %}
