{% extends 'base.html.twig' %}

{% block title %}Informations générales{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mt-4">Connaissances</h1>

        <!-- Section L'âme du Chasseur -->
        <div class="mt-3">
            <h2>L'Âme du Chasseur</h2>
            <p>
                L'âme du chasseur est un état d'esprit philosophique et mental que seuls les véritables Chasseurs de la
                Cendre possèdent. Il se base sur le <strong>dévouement complet</strong> à leurs missions, prêts à tout pour
                accomplir leurs quêtes, et un <strong>goût inégalé pour la victoire</strong> et le gain.
            </p>
        </div>

        <!-- Section Le Destin Gravé -->
        <div class="mt-3">
            <h2>Le Destin Gravé</h2>
            <p>
                Le Destin Gravé est, pour la Cendre Mortuaire, la plus grande des récompenses et représente
                <strong>l'obtention de la reconnaissance ultime</strong> du Maître des démons : porter le Kanji. Pour y parvenir,
                les démons de la Cendre Mortuaire doivent s'investir pleinement dans l'Ordre Démoniaque.
            </p>
        </div>

        <!-- Section Gloria Mortuum Cinerem -->
        <div class="mt-3">
            <h2>"Gloria Mortuum Cinerem" (La Gloire de la Cendre Mortuaire)</h2>
            <p>
                Hymne du Cloître, célébrant à la fois la grandeur et l'horreur de ce lignage démoniaque, leur
                <strong>engagement dans la cendre, la mort, et leur loyauté éternelle</strong> envers leur sombre cause.
            </p>
            <div class="mt-3">
                <h3>Musique de l'Hymne</h3>
                <iframe class="embed-responsive-item" width="560" height="315"
                        src="https://www.youtube.com/embed/Uw1nBqRDvbU"
                        title="Gloria Mortuum Cinerem"
                        frameborder="0" allowfullscreen>
                </iframe>
            </div>
        </div>

        <!-- Section Le Cloître Mortuaire -->
        <div class="mt-3">
            <h2>Le Cloître Mortuaire</h2>
            <p>
                Inspiré par les traditions de l’époque victorienne, Shēdo Moegara développe un
                <strong>code d’honneur strict</strong> qu’il impose à ses « descendants ». Être un démon de la Cendre Mortuaire
                ne signifie pas seulement posséder un pouvoir destructeur, mais aussi incarner des <strong>valeurs de retenue,
                    de contrôle et de foi</strong>.
            </p>
            <p>
                Shēdo considère chaque nouvel initié comme un membre potentiel de sa « famille », qu’il traite avec
                la rigueur d’un patriarche exigeant envers ses enfants.
            </p>
        </div>

        <!-- Section Le Mont Maekkan-dake -->
        <div class="mt-3">
            <h2>Le Mont Maekkan-dake</h2>
            <p>
                Pour le Cloître de la Cendre Mortuaire, le Mont Maekkan-dake est un <strong>lieu sacré</strong>, mais aussi un
                <strong>rappel constant de leur malédiction</strong> et de leur mission éternelle. Ils se considèrent comme
                <strong>les enfants du volcan</strong>, porteurs d'une cendre éternelle qui consumera tout sur son passage.
            </p>
            <p>
                Ils ne vivent pas : ils <strong>endurent</strong>, croyant que dans cette souffrance réside une vérité ultime.
                Pour eux, le monde n'est qu'un cycle de cendres, et ils veillent à ce que ce cycle ne s'arrête jamais.
            </p>
            <p>
                À mi-chemin sur les pentes du Mont Maekkan-dake se situe le <strong>Château Hakaori</strong>
                (de "Haka Hori" signifiant "Fosse Funéraire").
            </p>
        </div>
    </div>
{% endblock %}
