{% extends 'base.html.twig' %}

{% block title %}Informations générales{% endblock %}

{% block body %}
    <h1>Connaissance</h1>
    <p>Un aperçu des croyances et des valeurs des membres de la Cendre Mortuaire.</p>
    <ul>
        <li>Dévouement total aux missions</li>
        <li>Engagement envers le Cloître</li>
    </ul>
{% endblock %}
