{% extends 'base.html.twig' %}

{% block title %}Informations générales{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mt-4">Génération de Cendre</h1>
        <div class="mt-3">
            <p>
                La Cendre Mortuaire peut créer de la cendre à partir de son propre corps, souvent sous forme de
                <strong>nuages sombres</strong> qui tournent autour de lui. Ces cendres semblent surgir de sa peau, de ses veines,
                et parfois même de ses vêtements, se dispersant dans l’air pour en remplir l’espace autour de lui.
            </p>
        </div>
        <div class="mt-3">
            <h2>Propriétés des Cendres</h2>
            <ul>
                <li><strong>Haute température :</strong> Capable de brûler la chair et d’embraser les matériaux inflammables.</li>
                <li>
                    <strong>Fumée toxique :</strong> La cendre peut être refroidie pour devenir une fumée capable de s’infiltrer
                    dans les poumons des ennemis, provoquant des douleurs internes et parfois l’asphyxie.
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
