{% extends 'base.html.twig' %}

{% block title %}Informations générales{% endblock %}

{% block body %}
    <h1>Génération de Cendre</h1>
    <p>La capacité à créer de la cendre à partir du corps. Ces cendres sont incandescentes et toxiques, capables de brûler et d’asphyxier.</p>
    <ul>
        <li>Nuages sombres et brûlants</li>
        <li>Écran de fumée toxique</li>
    </ul>
{% endblock %}
