{% extends '/cendre/base_cendre.html.twig' %}

{% block title %}Informations générales{% endblock %}

{% block body_cendre %}
    <div class="container">
        <h1 class="mt-4">Informations Générales</h1>
        <div class="mt-3">
            <h2>Résumé</h2>
            <p><strong>Titre du pouvoir :</strong> Apôtre de la Terreur</p>
            <p><strong>Créateur :</strong> Shēdo Moegara</p>
            <p><strong>Dirigeant actuel :</strong> Shēdo Moegara</p>
            <p><strong>Gérant :</strong> Renzō</p>
            <p><strong>Disciple de Shēdo Moegara :</strong> Renzō</p>
            <p><strong>Valeurs et principes :</strong> Cruel, Terrifiant, Solennel</p>
        </div>

        <div class="mt-3">
            <h2>Objectifs</h2>
            <ul>
                <li>Enquête et chasse aux artefacts et objets uniques.</li>
                <li>Assassinat et traque des mystères et secrets, notamment les complots et traîtres à l'Ordre Démoniaque.</li>
                <li>Récupération et conservation des cendres de démons pourfendus par un katana du Soleil ou qui ont brûlé vif face ai soleil.</li>
            </ul>
        </div>

        <div class="mt-3">
            <h2>Origine du Pouvoir</h2>
            <p>
                L’origine exacte du pouvoir de la Cendre Mortuaire reste inconnue.
            </p>
        </div>

        <div class="mt-3">
            <h2>Hiérarchie et Rôles</h2>
            <p><strong>Shēdo Moegara :</strong> Fondateur et dirigeant actuel, maître incontesté des Cendres.</p>
            <p><strong>Renzō :</strong> Bras droit et disciple dévoué, gérant les opérations quotidiennes.</p>
        </div>

        <div class="mt-3">
            <h2>Valeurs Fondamentales</h2>
            <p>
                La Cendre Mortuaire repose sur trois piliers fondamentaux :
            </p>
            <ul>
                <li><strong>Cruauté :</strong> Utilisation de la peur et de la destruction comme armes.</li>
                <li><strong>Terreur :</strong> Inspiration d’une peur écrasante dans le cœur des ennemis.</li>
                <li><strong>Solennité :</strong> Respect des traditions et des rituels anciens liés à leur pouvoir.</li>
            </ul>
        </div>
    </div>
{% endblock %}
