{% extends 'base.html.twig' %}

{% block title %}Informations générales{% endblock %}

{% block body %}
    <h1>Informations Générales</h1>
    <p><strong>Créateur :</strong> Shēdo Moegara</p>
    <p><strong>Dirigeant :</strong> Shēdo Moegara</p>
    <p><strong>Gérant :</strong> Renzo</p>
    <p><strong>Valeurs :</strong> Cruel, Terrifiant, Solennel</p>
    <p><strong>Objectifs :</strong></p>
    <ul>
        <li>Enquête et chasse aux artefacts</li>
        <li>Assassinat et traque des mystères</li>
        <li>Récupération des cendres de démons</li>
    </ul>
{% endblock %}
