{% extends '/cendre/base_cendre.html.twig' %}

{% block title %}Informations générales{% endblock %}

{% block body_cendre %}
    <div class="container">
        <h1 class="mt-4">Manipulation & Contrôle</h1>
        <div class="mt-3">
            <p>
                La Cendre Mortuaire peut manipuler la cendre qu'il crée, la diriger dans l’air, et même lui donner
                des formes spécifiques. Par exemple, il peut concentrer la cendre pour former des
                <strong>vagues tourbillonnantes</strong> ou des <strong>éclats tranchants de roche volcanique</strong>.
                À un niveau très élevé, la cendre peut même imiter certains <strong>animaux</strong>.
            </p>
        </div>
        <div class="mt-3">
            <h2>Ajustement de la Température</h2>
            <p>
                La Cendre Mortuaire peut ajuster la température de sa cendre pour répondre à différentes situations :
            </p>
            <ul>
                <li>
                    <strong>Haute température :</strong> La cendre devient incandescente, brûlant d’un rouge vif, capable
                    de fondre les métaux et d’infliger des brûlures graves.
                </li>
                <li>
                    <strong>Température modérée :</strong> Elle devient plus discrète, ressemblant à une fumée épaisse,
                    idéale pour créer des écrans de fumée qui aveuglent et déstabilisent les adversaires.
                </li>
            </ul>
        </div>
        <div class="mt-3">
            <h2>Barrière Défensive</h2>
            <p>
                En maîtrisant le flux de cendre autour de lui, la Cendre Mortuaire peut créer une
                <strong>barrière défensive</strong>. Cette barrière de cendre brûlante repousse les attaques de mêlée,
                obligeant ses ennemis à garder leurs distances.
            </p>
        </div>
    </div>
{% endblock %}
