{% extends 'base.html.twig' %}

{% block title %}Informations générales{% endblock %}

{% block body %}
    <h1>Manipulation et Contrôle</h1>
    <p>Les cendres créées peuvent être manipulées pour former des défenses, des attaques ou des écrans de fumée.</p>
    <ul>
        <li>Barrières défensives</li>
        <li>Vagues tourbillonnantes</li>
        <li>Fumée épaisse</li>
    </ul>
{% endblock %}
