{% extends 'base.html.twig' %}

{% block title %}Informations générales{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mt-4">Principes du Cloître Mortuaire</h1>
        <p class="lead">
            Les principes du Cloître Mortuaire définissent les valeurs fondamentales et la philosophie qui guident les membres
            de la Cendre Mortuaire dans leur quête et leur existence.
        </p>

        <!-- Loyalisme Absolu -->
        <div class="mt-3">
            <h2>Loyalisme Absolu</h2>
            <p>
                La Cendre exige de ses « enfants » une <strong>dévotion sans faille</strong> envers l’Ordre Démoniaque et envers lui-même.
                Pour lui, la loyauté est la fondation de toute foi. Il encourage ses descendants à se voir comme des <strong>gardiens
                    de l’honneur</strong> de la Cendre Mortuaire, prêts à tout pour préserver et renforcer ce pouvoir.
            </p>
        </div>

        <!-- Discrétion et Dévotieux -->
        <div class="mt-3">
            <h2>Discrétion et Dévotieux</h2>
            <p>
                La Cendre met un point d’honneur à ce que ses héritiers agissent avec dignité et discrétion. Bien que leur pouvoir
                soit destructeur, ils ne doivent jamais céder à la brutalité aveugle ; chaque attaque doit être précise, chaque
                mouvement calculé, et chaque mission accomplie avec le soin et la rigueur d’un artisan.
            </p>
            <p>
                Ce pouvoir veut que ses disciples soient vus non comme des <strong>brutes sauvages</strong>, mais comme des
                <strong>dévots de la mort</strong>, des <strong>ombres raffinées</strong> et redoutées.
            </p>
        </div>

        <!-- Maîtrise de Soi et Respect des Traditions -->
        <div class="mt-3">
            <h2>Maîtrise de Soi et Respect des Traditions</h2>
            <p>
                La Cendre enseigne que le <strong>véritable pouvoir réside dans le contrôle de soi</strong>. Les démons de la Cendre Mortuaire
                doivent savoir doser leur force, maintenir leur calme même sous la pression, et ne jamais trahir leur nature pieuse
                par des actes impulsifs.
            </p>
            <p>
                Le Cloître inculque à chacun l’histoire de son propre parcours, les traditions occidentales, et des récits glorifiant
                la <strong>maîtrise personnelle</strong>.
            </p>
        </div>

        <!-- Philosophie de la Famille : Fanatisme et Décadence -->
        <div class="mt-3">
            <h2>La Philosophie de la Famille : Fanatisme et Décadence</h2>
            <p>
                La cendre est une force égalisatrice :
            </p>
            <blockquote class="blockquote">
                <p>"Tout finit par brûler. Tout retourne à la poussière."</p>
            </blockquote>
            <p>
                Cette vérité est universelle et élève la cendre au rang de <strong>pouvoir divin</strong> donné par le Maître Suprême.
            </p>
            <p>
                Les membres du Cloître adoptent une vie de <strong>discipline extrême</strong>, leur foi et leur raffinement cachant une
                violence latente et une <strong>dévotion fanatique</strong> à leur cause.
            </p>
            <p>
                Ils considèrent les autres démons mourant malgré leur immortalité comme inférieurs, de la <strong>cendre égarée</strong>
                méritant d’être guidée au salut. Les démons vivants incapables de comprendre la véritable essence de leur mission
                les voient comme une cause perdue, de simples profanes, ne nécessitant pas leur attention. Ils attendent simplement
                que ces derniers retournent à la cendre pour être guidés à leur tour.
            </p>
        </div>
    </div>
{% endblock %}
