{% extends '/cendre/base_cendre.html.twig' %}

{% block title %}Informations générales{% endblock %}

{% block body_cendre %}
    <div class="container">
        <h1 class="mt-4">Rite du Retour aux Origines</h1>
        <p class="lead">
            Le Rite du Retour aux Origines est une coutume solennelle et sacrée pratiquée par la Cendre Mortuaire, mêlant
            tradition funéraire et mysticisme.
        </p>

        <!-- Description générale -->
        <div class="mt-3">
            <h2>Un Rituel Funéraire Démoniaque</h2>
            <p>
                L’une des coutumes pratiquées par la Cendre Mortuaire consiste à organiser des <strong>rites funéraires démoniaques</strong>.
                Ces rites mêlent traditions ancestrales et pratiques occultes, permettant de rendre hommage à un démon mourant en
                préservant et honorant ses cendres.
            </p>
        </div>

        <!-- Processus du rituel -->
        <div class="mt-3">
            <h2>Le Processus du Rituel</h2>
            <p>
                Lorsque l’occasion se présente, les démons de la Cendre Mortuaire récupèrent les <strong>cendres du défunt démon</strong>
                à l’aide de leur pouvoir. Ces cendres sont ensuite transportées vers un lieu isolé, hors d’atteinte des pourfendeurs,
                afin de garantir la sécurité et la solennité du rite.
            </p>
            <p>
                Lors du rituel, la Cendre Mortuaire se rassemble, réunissant les démons souhaitant rendre hommage.
                <strong>L’hymne de la Cendre Mortuaire</strong> résonne dans l’air, marquant le début de la cérémonie.
            </p>
        </div>

        <!-- Cérémonie et Urne mystérieuse -->
        <div class="mt-3">
            <h2>La Cérémonie et l’Urne Mystérieuse</h2>
            <p>
                Pendant le rite, les membres de la Cendre Mortuaire utilisent leur pouvoir pour canaliser les cendres du défunt
                dans une <strong>Urne gigantesque et mystérieuse</strong>. Cette urne, symbole de la continuité et du cycle des cendres,
                préserve l’essence du démon disparu et lui permet de retrouver sa place dans le cycle éternel.
            </p>
        </div>
    </div>
{% endblock %}
